# Managed by Ansible
# Ajouter vos entrees a la fin de ce fichier et dans /etc/hosts.d/50_custom pour qu'elles soient reconstruite au prochain passage d'ansible

127.0.0.1   localhost.localdomain localhost localhost4.localdomain4 localhost4
{{ ansible_default_ipv4.address }} {{ inventory_hostname_short }}.{{ cts_role_network.dns_domain|default('localdomain') }} {{ inventory_hostname_short }}

::1         localhost.localdomain localhost localhost6.localdomain6 localhost6
fe00::0		ip6-localnet
ff00::0		ip6-mcastprefix
ff02::1		ip6-allnodes
ff02::2		ip6-allrouters
