# {{ ansible_managed }}

{% if cts_role_network.dns_domain is defined %}
domain {{cts_role_network.dns_domain}}
{% endif %}
{% if cts_role_network.dns_search is defined %}
search {{cts_role_network.dns_search}}
{% endif %}
{% for dns_nameserver in cts_role_network.dns_server %}
nameserver {{dns_nameserver}}
{% endfor %}
